
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FONTES */
@font-face {
    font-family: PoppinsB;
    src: url(Font/Poppins-Bold.ttf);
}
@font-face {
    font-family: SansB;
    src: url(Font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: SansR;
    src: url(Font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: SansS;
    src: url(Font/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsR;
    src: url(Font/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsS;
    src: url(Font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: RobotoB;
    src: url(Font/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoM;
    src: url(Font/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoR;
    src: url(Font/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoS;
    src: url(Font/RobotoMono-SemiBold.ttf);
}

/* HEADERS */
.header1 {
    background-color: #106EEA;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
}
.info-header {
    color: white;
    font: 400 17px 'SansR', sans-serif;
    margin-left: 210px;
}
.info-header2 {
    color: white;
    font: 400 17px 'SansR', sans-serif;
    margin-left: 100px;
}

.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    flex-wrap: wrap;
    padding: 20px;
}
.header2 .logo {
    font: 700 22px 'PoppinsB', sans-serif;
}
.header2 .menu .item {
    margin: 0 24px;
    font: 400 20px 'SansR', sans-serif;
    color: black;
}
.texto_imagem {
    background-image: url(Img/Vitral.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 430px;
}

.texto_imagem .titulo {
    color: #000000;
    position: absolute;
    left: 875px;
    top: 270px;
    font: 700 55px 'PoppinsB' , sans-serif;
}

.subtitulo {
    color: #000000;
    position: absolute;
    left: 810px;
    top: 335px;
    font: 400 40px 'PoppinsR' , sans-serif;
}

/* CONTEUDO */

.conteudo{
    display: flex;
    align-items: center;
    margin: 100px 200px 0 ;
}
.conteudo .imagem{
    width: 3700px;
    height: auto;
}
.conteudo .textos{
    margin-top: 50px;
}
.conteudo .textos .titulo{
    font: 700 32px 'RobotoB', sans-serif;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}
.azul {
    color: #106EEA;
}
.conteudo .textos .texto {
    font: 400 22px 'SansR', sans-serif;
    margin-right: 80px;
    text-align: justify;
    margin-left: 80px;
}

/* CAIXAS */

.caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}
.caixa {
    border: 2px solid #8CA9CE;
    text-align: center;
    width: 200px;
    background-color: #F1F6FE;
    height: 200px;
    margin-left: 40px;
    border-radius: 10px;
}
.caixas .imagem img {
    width: 90px;
    height: auto;
    padding-bottom: 3px;
    padding-top: 10px;
}

.caixa .numero{
    font: 700 28px 'SansB', sans-serif;
}
.caixa .texto {
    font: 400 20px 'RobotoR', sans-serif;
    padding: -10px;
}

/* SERVIÇOS */
.servicos {
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.servicos .titulo {
    font: 700 35px 'RobotoB', sans-serif;
}
.servicos .texto {
    font: 400 24px 'SansR', sans-serif;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
}

.caixas2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(17, 80, 163, 1);
}

.caixa2 {
    border: 1px solid #8CA9CE;
    text-align: center;
    padding: 20px 25px;
    width: 230px;
    background-color: rgba(255, 255, 255, 1);
    height: 140px;
    border-radius: 7px;
    margin-left: 70px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.caixas2 .texto{
    font: 600 20px 'RobotoB', sans-serif;
    margin-top: 10px;
}

/* EQUIPE */

.equipe {
    padding-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.equipe .titulo {
    font: 700 35px 'RobotoB', sans-serif;
}
.equipe .texto {
    font: 400 24px 'SansR', sans-serif;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.caixas3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.caixas3 .imagem {
    width: 220px;
    height: auto;
}

.caixa3 {
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.caixa3 .titulo {
    font: 700 20px 'PopinsB', sans-serif;
}
.caixa3 .texto {
    font: 400 19px 'RobotoR', sans-serif;
}
